<div class="content-panel-header">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{widgetTitle}}</h2>
            <md-button ng-if="projectId > 0" href="" ng-click="newDiscussion($event)">Add New</md-button>
            <span flex></span>
            <md-button href="/" md-no-ink>View All ({{total}})</md-button>
        </div>
    </md-toolbar>
</div>
<div class="content-panel-body">
    <md-content class="md-padding">
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="item in discussions">
                <div class="md-list-item-text">
                    <h3>{{item.text}}</h3>
                    <h4>{{item.created_at|timeago}}</h4>
                </div>
                <div class="md-secondary md-list-item-inner user-info">
                    <span>{{item.full_name}}</span>
                    <img alt="{{item.full_name}}"
                         class="md-avatar"
                         ng-src="{{item.avatar}}">
                </div>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item ng-if="discussions.length == 0">
                <div class="md-list-item-text">
                    <span>No discussions</span>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>
