<div class="title-widget" ng-hide="widgetTitle == null">
    <h2>{{widgetTitle}} ({{totalItems}})</h2>
</div>
<md-list>
    <md-list-item class="md-2-line" ng-repeat="service in projectServices">
        <div class="md-list-item-text" ng-show="progressPosition == 'bottom'">
            <h3>{{service.title}}</h3>
            <h4 layout="row">
                <div layout="column" flex="70"><md-progress-linear md-mode="determinate" value="{{service.currentStatus.percentCompleted}}"></md-progress-linear></div>
                <div layout="column" flex="30" style="padding: 4px 10px">20:00 of 28:00</div>
            </h4>
        </div>
        <div class="md-list-item-text" ng-hide="progressPosition == 'bottom'">
            <h3 class="title">{{service.title}}</h3>
            <h4 ng-hide="progressPosition == 'bottom'">{{service.releaseDate}}</h4>
        </div>
        <div class="md-secondary md-list-item-inner user-info services-item-progress"  ng-hide="progressPosition == 'bottom'">
            <md-progress-linear md-mode="determinate" value="{{service.currentStatus.percentCompleted}}"></md-progress-linear>
        </div>
        <md-divider></md-divider>
    </md-list-item>
</md-list>