<div class="content-panel-header">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{widgetTitle}}</h2>
            <span flex></span>
            <md-button href="/" md-no-ink>View All (11)</md-button>
        </div>
    </md-toolbar>
</div>
<div class="content-panel-body">
    <md-content class="md-padding">
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="item in questions">
                <div class="md-list-item-text" layout="column" flex>
                    <p>{{item.text}}</p>
                    <div><span class="created_at">{{item.created_at | timeago}}</span><span class="replies">replies {{item.replies}}</span></div>
                </div>
                <div layout="row">
                    <div class="sender md-secondary" layout="column">by {{item.sender}}</div>
                    <img ng-src="{{item.avatar}}" layout="column" class="md-avatar md-secondary" />
                </div>
                <md-divider ></md-divider>
            </md-list-item>
            <md-list-item class="md-1-line" ng-show="questions.length == 0">
                <div class="md-list-item-text" layout="column">
                    <span>No questions</span>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>