<div class="content-panel-header">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{widgetTitle}}</h2>
            <span flex></span>
            <md-button href="{{viewAllHref}}" md-no-ink>View All ({{total}})</md-button>
        </div>
    </md-toolbar>
</div>
<div class="content-panel-body">
    <md-content class="md-padding">
        <div class="running-services-list">
            <md-data-table-container>
                <table md-data-table>
                    <thead md-order="priority" md-trigger="onOrderChange" ng-if="services.length > 0">
                    <tr>
                        <th ng-show="columns.indexOf('name') > -1" name="Name" order-by="name"></th>
                        <th ng-show="columns.indexOf('project') > -1" name="Project" order-by="project"></th>
                        <th ng-show="columns.indexOf('start') > -1" name="Start" order-by="start"></th>
                        <th ng-show="columns.indexOf('status') > -1" name="Status" order-by="status"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in services" ng-click="changeItem(item)">
                        <td ng-show="columns.indexOf('name') > -1">
                            <a href="{{titleHref}}">
                                <em>{{item.title}}</em>
                                <span class="services-time-info" ng-hide="widgetStyle == 'full'">{{item.releaseDate}}</span>
                            </a>
                        </td>
                        <td ng-show="columns.indexOf('project') > -1">{{item.currentStatus.project.title}}</td>
                        <td ng-show="columns.indexOf('start') > -1">{{item.currentStatus.startDate}}<span class="services-time-info">{{item.currentStatus.startTime}}</span></td>
                        <td ng-show="columns.indexOf('status') > -1">
                            <md-progress-linear md-mode="determinate" value="{{item.currentStatus.percentCompleted}}"></md-progress-linear>
                            <span class="service-progress-info" ng-hide="widgetStyle == 'full'">{{item.currentStatus.startDate}} {{item.currentStatus.startTime}}</span>
                        </td>
                    </tr>
                    <tr ng-if="services.length == 0">
                        <td class="empty" colspan="{{columns.length}}">No services</td>
                    </tr>
                    </tbody>
                </table>
            </md-data-table-container>
        </div>
    </md-content>
</div>