
.accordion-toggle {
    display:block;
    background-image: url('http://vfdev.geinspire.com/themes/gforge/images/expand.png');
    background-repeat: no-repeat;
    background-position: 190px 7px;
    margin: 0 -20px;
    padding: 2px 20px;
    background-color: #DDD;
    border-top: solid 1px #FFF;
    border-bottom: solid 1px #CCC;
    color: #6D6D6D;
}

.accordion-toggle:hover {
    background-color: #CCC;
    border-top: solid 1px #EEE;
    border-bottom: solid 1px #BBB;
    text-decoration: none;
}

.accordion-toggle.out{
    background-image: url('http://vfdev.geinspire.com/themes/gforge/images/collapse.png');
    background-color: #08C;
    border-top: solid 1px #82bcd9;
    border-bottom: solid 1px #005C8A;
    color: #FFF;
}

.accordion-toggle.out:hover{
    background-color: #007ec2;
    border-top: solid 1px #78b2cf;
    border-bottom: solid 1px #005380;
    color: #f0f8fc;
}

.accordion-body.in {
    padding: 5px 0 15px;
}

.accordion-body a {
    display: block;
    padding: 3px 2px 3px 10px;
    text-decoration: none;
}
.accordion-body a:hover {
    background-color: #EEE;
}

.badge.light{
    background-color:
        #CCC;
    color:
        #666;
    font-weight: normal;
    font-size: 10px;
    padding: 2px 6px 1px;
}


.btn-toolbar{
    height:28px;
    margin: 0;
}

hr {
    margin: 3px 0;
    clear:both;
}

.featured-cat {
    margin-bottom: 5px;
    background-color: #EEE;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display: block;
    padding: 14px 0;
    text-align: center;
}

.thumbnails .col4{
    width: 160px;
}

.thumbnail.component h4,
.thumbnail.component h5,
.thumbnail.component p{
    padding: 2px 5px 0;
    text-decoration: none;
}

.thumbnail.component:hover {
    text-decoration: none;
}

.thumbnail.component p {
    margin: -5px 0 2px 0;
    line-height: 14px;
}



#tag-cloud a.tag1 { font-size: 0.7em; font-weight: 100; }
#tag-cloud a.tag2 { font-size: 0.8em; font-weight: 200; }
#tag-cloud a.tag3 { font-size: 0.9em; font-weight: 300; }
#tag-cloud a.tag4 { font-size: 1.0em; font-weight: 400; }
#tag-cloud a.tag5 { font-size: 1.2em; font-weight: 500; }
#tag-cloud a.tag6 { font-size: 1.4em; font-weight: 600; }
#tag-cloud a.tag7 { font-size: 1.6em; font-weight: 700; }
#tag-cloud a.tag8 { font-size: 1.8em; font-weight: 800; }
#tag-cloud a.tag9 { font-size: 2.2em; font-weight: 900; }
#tag-cloud a.tag10 { font-size: 2.5em; font-weight: 900; }

#tag-cloud { margin: 0; }
#tag-cloud li { display: inline; }

.expand{
    width: 100%;
}

#component-overview ul{
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
}

#component-overview li{
    padding: 10px 0;
}


#component-overview li span{
    margin-left: 15px;
}

#highlights button{
    margin-bottom: 10px;
}

#highlights .dropdown-menu{
    margin-top: -10px;
}
.comment{
    display: block;
    border-top: 1px solid #EEE;
    clear: both;
    margin: 8px 0;
}

.date {
    font-size: 0.8em;
    color: #666;
    font-style: italic;
}

.comment-content{
    width: 400px;
    margin: 10px 0 5px 10px;
}

.comment-image{
    margin: 8px 0;
}

.comment-header{
    margin-bottom: 0px;
}

.sub-comment{
    clear: both;
    margin-left: 60px;
    border-top: solid 1px #EEE;
}
.sub-comment .comment-content{
    width: 340px;
}

.preview-thumbs a.thumbnail {
    display: inline-block;
    padding: 0;
    margin: 5px 0;
}
.preview-thumbs a.thumbnail:first-child{
    margin-left:10px;
}

a.thumbnail.active {
    border-color: #08C;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.preview-thumbs a.thumbnail {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.preview-main img{
    width: 100%;
}

.preview-main {
    position: relative;
    cursor: pointer;
}
.preview-thumbs img{
    width: 50px;
}

.preview-magnify{
    width: 15px;
    height: 15px;
    padding: 8px;
    background-color: #08C;
    border: solid 1px #006CA3;
    border-top-width: 2px;
    border-right-width: 2px;
    position: absolute;
    bottom:0px;
    right:5px;
}

.preview-main #hint {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    display: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    z-index: 99;
    right: 10px;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.preview-main #hint.active {
    display: block;
}

.feature-block{
    display: block;
    border-top: 1px solid #EEE;
    clear: both;
    margin: 8px 0;
}

.feature-block:first-child{
    display: block;
    border-top-width: 0;
    margin: 0;
}

.feature-block {
    cursor: pointer;
    min-height: 60px;
}

.feature-block img {
    margin: 8px 10px 8px 5px;
}

.feature-block .description {
    margin-top: 6px;
}

.feature-block .btn-info {
    margin-top: 10px;
}

.sub-link{
    font-size: .85em;
    display: block;
    margin: 5px 0;
}