@import "variables";
@import "helpers";

html {
  font-size: 100%;
}

body {
  font-size: $body_font_size;
  font-family: $body_font_family;
  color: map-get($colors, primary);
}

img {
  width: 100%;
  height: auto;
}
