  <div class="page-header" layout-padding>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <div layout="column">
            <h1 class="name-project">{{projectCtrl.projectData.title}}<span class="small-text small-text--grey">Due in 20 days</span></h1>
            <h2>
                <img src="images/project-header-thumb.png" alt="">
                Submissions</h2>
          </div>
            <span flex></span>
            <md-button class="md-raised" href="/" ng-disabled="compare.length == 0">Compare({{compare.length}})</md-button>
        </div>
      </md-toolbar>
    </div>
    <div class="container submissions-page">
      <div layout="row" layout-margin layout-fill layout-padding>
        <div class="content-column" layout="column" flex>
            <div class="content-panel">
                <div class="content-panel-header">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>Submissions</h2>
                            <span flex></span>
                        </div>
                    </md-toolbar>
                </div>
                <div class="content-panel-body">
                    <md-content class="md-padding">
                        <div class="models-list">
                            <md-data-table-container>
                                <table md-data-table class="tableSubmissions">
                                    <thead md-order="success" md-trigger="onOrderChange">
                                    <tr>
                                        <th name="Select"></th>
                                        <th name="Submission Name" order-by="title"></th>
                                        <th name="Date" order-by="date"></th>
                                        <th name="Success" order-by="success"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in submissions" class="table-line">
                                        <td>
                                            <input value="{{item.id}}" class="idSubmission" type="hidden"/>
                                            <md-checkbox ng-model="item.select" ng-click="compareSubmission($event,item)" aria-label="Select">
                                                {{ item.select == true ? 'Added to Compare' : 'Add to Compare' }}
                                            </md-checkbox>
                                        </td>
                                        <td class="title">{{item.title}}</td>
                                        <td>{{item.date}}</td>
                                        <td>{{item.success}}%</td>
                                    </tr>
                                    <tr ng-if="submissions.length == 0">
                                        <td class="empty" colspan="5">No submissions</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-data-table-container>
                        </div>
                    </md-content>
                </div>
            </div>
        </div>
      </div>
    </div>
