<div class="container" layout="row" layout-padding>
    <div class="content-column" layout="column" flex='20'>
        <dmc-tree-menu tree-source="treeMenuModel"></dmc-tree-menu>
        <md-list class="menu-filter-item" ng-if="isSearch">
            <md-subheader>Author</md-subheader>
            <md-list-item class="md-1-line">
                <div class="md-list-item-text" layout="column">
                    <md-checkbox ng-model="authorGe" aria-label="Checkbox1">GE (8)</md-checkbox>
                </div>
            </md-list-item>
            <md-list-item class="md-1-line">
                <div class="md-list-item-text" layout="column">
                    <md-checkbox ng-model="authorJoeSmith" aria-label="Checkbox2">Joe Smith (7)</md-checkbox>
                </div>
            </md-list-item>
        </md-list>
        <md-list class="menu-filter-item" ng-if="isSearch">
            <md-subheader>Rating</md-subheader>
            <md-list-item class="md-1-line">
                <div class="md-list-item-text" layout="column">
                    <md-checkbox ng-model="stars4" aria-label="Checkbox1">
                        <div class="stars">
                            <ng-md-icon aria-label="" icon="star" style="fill: #f28e1e;" size="19" ></ng-md-icon>
                            <ng-md-icon aria-label="" icon="star" style="fill: #f28e1e;" size="19" ></ng-md-icon>
                            <ng-md-icon aria-label="" icon="star" style="fill: #f28e1e;" size="19" ></ng-md-icon>
                            <ng-md-icon aria-label="" icon="star" style="fill: #f28e1e;" size="19" ></ng-md-icon>
                            <span>& up (7)</span>
                        </div>
                    </md-checkbox>
                </div>
            </md-list-item>
            <md-list-item class="md-1-line">
                <div class="md-list-item-text" layout="column">
                    <md-checkbox ng-model="stars3" aria-label="Checkbox1">
                        <div class="stars">
                            <ng-md-icon aria-label="" icon="star" style="fill: #f28e1e;" size="19" ></ng-md-icon>
                            <ng-md-icon aria-label="" icon="star" style="fill: #f28e1e;" size="19" ></ng-md-icon>
                            <ng-md-icon aria-label="" icon="star" style="fill: #f28e1e;" size="19" ></ng-md-icon>
                            <span>& up (11)</span>
                        </div>
                    </md-checkbox>
                </div>
            </md-list-item>
            <md-list-item class="md-1-line">
                <div class="md-list-item-text" layout="column">
                    <md-checkbox ng-model="stars2" aria-label="Checkbox1">
                        <div class="stars">
                            <ng-md-icon aria-label="" icon="star" style="fill: #f28e1e;" size="19" ></ng-md-icon>
                            <ng-md-icon aria-label="" icon="star" style="fill: #f28e1e;" size="19" ></ng-md-icon>
                            <span>& up (15)</span>
                        </div>
                    </md-checkbox>
                </div>
            </md-list-item>
        </md-list>
        <md-list class="menu-filter-item" ng-if="isSearch">
            <md-subheader>Favorites</md-subheader>
            <md-list-item class="md-1-line">
                <div class="md-list-item-text" layout="column">
                    <md-checkbox ng-model="myFavorites" aria-label="Checkbox1">My Favorites</md-checkbox>
                </div>
            </md-list-item>
        </md-list>
        <md-list class="menu-filter-item" ng-if="isSearch">
            <md-subheader>Date</md-subheader>
            <md-list-item class="md-1-line">
                <div class="md-list-item-text" layout="column">
                    <md-checkbox ng-model="oneWeek" aria-label="Checkbox1">7 days old (6)</md-checkbox>
                </div>
            </md-list-item>
            <md-list-item class="md-1-line">
                <div class="md-list-item-text" layout="column">
                    <md-checkbox ng-model="oneMonth" aria-label="Checkbox1">1 month old (9)</md-checkbox>
                </div>
            </md-list-item>
            <md-list-item class="md-1-line">
                <div class="md-list-item-text" layout="column">
                    <md-checkbox ng-model="oneYear" aria-label="Checkbox1">1 year old (15)</md-checkbox>
                </div>
            </md-list-item>
        </md-list>
    </div>
    <!-- Left Content Column -->
    <div class="content-column content-column--white" layout="column" flex>
        <div class="content-panel">
            <div class="content-panel-body">
                <md-content class="md-padding">
                    <div class="search-toolbar" layout="row">
                        <div class="search-field" flex="60">
                            <form ng-submit="submit()">
                            <md-input-container md-no-float>
                                <md-icon><ng-md-icon icon="search" style="fill: #666;"></ng-md-icon></md-icon>
                                <input type="text" placeholder="Search the Marketplace" ng-model="searchModel">
                            </md-input-container>
                            </form>
                        </div>
                        <span flex='10'></span>
                        <div class="search-toolbar-actions" layout="row" flex>
                            <md-button href="/">
                                <ng-md-icon icon="favorite" style="fill: #666;" size="14"></ng-md-icon> Favorites
                            </md-button>
                            <md-button href="" ng-disabled="compareProducts.services.length+compareProducts.components.length == 0" compare-button >Compare ({{compareProducts.services.length+compareProducts.components.length}})</md-button>
                        </div>
                    </div>
                    <md-tabs md-dynamic-height md-border-bottom ng-if="!isSearch">
                        <md-tab label="Popular">
                            <md-content class="md-padding">

                                <div dmc-carousel name-carousel="'carouselPopular'" max-items="10" show-items="2" carousel-source="carouselData.arr" run-carousel="true" timeout="5"></div>

                            </md-content>
                        </md-tab>
                        <md-tab label="New">
                            <md-content class="md-padding">

                                <div dmc-carousel name-carousel="'carouselNew'" max-items="10" show-items="2" carousel-source="carouselData.arr" run-carousel="true" timeout="5"></div>

                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>

        <!-- Favorit items -->
        <dmc-products-card title-card="'ITEMS FROM FAVORITE STOREFRONTS'" search-card="isSearch" card-source="products" card-loading="downloadData" page-size="productCardPageSize" current-page="productCardCurrentPage" total-size="products.count" class="content-panel" layout-padding layout-margin></dmc-products-card>

    </div>
</div>