hr {
    border-bottom-color: #BBBBBB;
}
.feed {
}
.feed .feed-image {
    float: left;
    width: 50px;
}
.feed .feed-content {
    margin-left: 50px;
    padding: 0 10px;
}
.feed-nested {
    background-color: #FAFAFA;
    border: 1px solid #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    margin: 10px 0 10px 60px;
    padding: 10px;
}
.feed-nested .feed-image {
    float: left;
    width: 30px;
}
.feed-nested .feed-content {
    margin-left: 45px;
    padding: 0;
}
.feed-image img.user-image {
    float: right;
    width: 100%;
}
.feed-image img.event-image {
    float: right;
    width: 50%;
}
.feed-content .date {
    color: #808080;
    float: right;
}
.feed-content .author {
    display: inline;
    font-weight: bold;
}
.feed-content .location {
    color: #808080;
    display: inline-block;
}
.feed-content .message {
    display: block;
    padding-top: 0.2em;
}
.feed-content .message textarea{
	margin: 0 0 15px;
    padding: 0;
    width: 100%;
}
.feed-comment {
}
