@blockHeight: 150px;
@imageSize: 100px;

@siteWidth: 100%;
@numCols: 12;
@colDensity: 0.2;

@import 'less_functions/border_radius.less';

h2 {
	color:#014990;
}

.category {
	margin: 0;	
	padding:0;
	height:150px;  
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color:#FFF;


	.box-shadow(0 0 8px rgba(0,0,0,0.1));



	.title {
		display: block;
		background-color: rgba(0, 0, 0, 0.7);
		font-size:13px;
		font-weight:bold;
		color:#FFF;
		padding:10px;
		float:left;		
		border-bottom-right-radius:5px;
	}
	
	.desc { 
		visibility:hidden;
		font-size:12px;
		color:#FFF;
		display:block;
		padding:40px 10px 10px 30px;
		height:100px;
	 }
}

.category:hover {
	.box-shadow(0 0 8px rgba(0,0,0,0.3));
	
	.title { background-color: rgba(0,0,0,0); }
	.desc { 
		visibility: visible; 
		background-color: rgba(0, 0, 0, 0.7);
	}
}

.modelImage {
	float:left;
	padding:2px;
	border:1px solid #DDD;
	height:150px;
}

.modelText{
	margin-left:150px + 12px;
}

ul.modelList {
	list-style: none;
	
	li.modelThumb{

		height: @blockHeight;
		margin:0;	
		
/* 		.border-radius(5px); */
		.box-shadow(0 0 8px rgba(0,0,0,0.1));

		&:hover { .box-shadow(0 0 8px rgba(0,0,0,0.3)); }	
		
		> a { 
			text-decoration:none;
			color:inherit; }
					
		.modelImage { 
			height: @imageSize;
			border: 1px solid #CDCDCD; }			
		
		
		.modelText {			
			margin-left: @imageSize + 12px; 
			
			.modelTitle { height:2em; margin-bottom:0.5em; }
			.modelDesc { .truncate(); margin: 0.5em 0; }	
		}
	}
}

a.noStyle {
	text-decoration: none;
	color:inherit;
}

.stat {
	background: #FFF;
	border: 1px solid #CCC;
	margin:2px;
	padding:2px;
	min-width:30px;
	height:30px;
	
	text-align:center;
		
	.number {
		margin: 0 auto;
		font-size: 12px;	
	}
	
	.quantity {
		margin: 0 auto;
		font-size: 10px;
	}
}

// Grid layout

@cellWidth: @siteWidth / @numCols;
@colWidth: @cellWidth / (1 + @colDensity);
@gutterWidth: @colWidth * @colDensity;

.columns(@size: 1) {
	float: left;
	width: @size*@cellWidth - @gutterWidth;
	margin: @gutterWidth/2;
	display:block;
	padding:0;
}

.span1     { .columns(1); }
.span2     { .columns(2); }
.span3     { .columns(3); }
.span4     { .columns(4); }
.span5     { .columns(5); }
.span6     { .columns(6); }
.span7     { .columns(7); }
.span8     { .columns(8); }
.span9     { .columns(9); }
.span10    { .columns(10); }
.span11    { .columns(11); }
.span12    { .columns(12); }

// Drop shadows
.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

.truncate() {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}