@import "less_functions/linear_gradient.less";
@import "less_functions/border_radius.less";

.item   {
	overflow:auto;
	.border-radius(15px);
	padding:10px;
	border-bottom:1px solid #BBB;
	border-top:1px solid #e3e3e3;
	.linear-gradient(0%,#ebebeb,100%,#ddd);
	margin-bottom:5px;

	.left   {
		float: left;
	}

	.right  {
		margin-left: 70px;
	}

	.reply_textarea {
		resize:none
	}

	.reply  {
		overflow: auto;
		background: #d6d6d6;
		margin-bottom: 5px;
		padding: 3px;
	}

	.replies    {
		padding: 3px;

		.right  {
			margin-left: 50px;
		}
	}
}