/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
.wrapper {
  width: 960px;
  min-height: 100%;
  margin: auto;
  height: auto;
  overflow: auto;
  position: relative;
  padding: 5px;
}
.box {
  padding: 10px;
  background: #EEE;
  border: 1px solid #999;
  margin-top: 10px;
  overflow: auto;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
}
#site_search {
  border: 1px solid #434343;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #CCC;
  font-size: 12px;
  padding: 3px 0;
  width: 227px;
}
#site_search:hover, #site_search:focus {
  color: #626262;
}
#main_wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -120px;
}
/* HTML elements */
html, body {
  height: 100%;
}
ul li {
  margin-left: 14px;
}
body {
  font-size: 12px;
  font-family: "verdana", sans-serif;
  text-align: left;
  position: relative;
}
form, h1 {
  margin: 0;
}
img {
  border: 0;
}
label {
  display: inline-block;
  min-width: 200px;
  vertical-align: top;
}
.xput_type {
  vertical-align: top;
}
a {
  text-decoration: none;
  color: #014990;
}
h1 {
  font-size: 22px;
  color: #292929;
}
h2 {
  color: #309cd6;
  font-size: 18px;
}
h3 {
  color: #309cd6;
}
.hidden {
  display: none;
}
.center {
  text-align: center;
}
.table span {
  display: inline-block;
  vertical-align: top;
}
.table.rowhighlight > .body div.tablerow:hover {
  background: #CCC;
}
.table .head {
  font-weight: bold;
}
.table .body div.tablerow {
  padding: 3px;
}
.notification {
  background: #2F2F2F;
  color: #FFF;
  padding: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
a.userlink, #searchBox a {
  color: white;
}
a.userlink:hover, #searchBox a:hover {
  text-decoration: underline;
  color: white;
}
a.userlink:visited, #searchBox a:visited {
  text-decoration: none;
  color: white;
}
th, td {
  text-align: left;
  border: none;
}
header {
  background: #444;
  height: 26px;
  position: relative;
  padding: 10px 0;
}
header a {
  color: #FFF;
}
header #logo {
  position: relative;
}
header #logo #logo_gear {
  position: absolute;
  left: 126px;
  top: -14px;
}
header #account {
  font-size: 10px;
}
header #account a {
  margin-right: 10px;
}
nav ul {
  overflow: auto;
}
nav ul li {
  list-style: none;
  float: left;
}
nav#main {
  border-bottom: 4px solid #309cd6;
  font-size: 16px;
  background: #444;
}
nav#main ul {
  margin: 0 0 7px 35px;
}
nav#main ul li {
  padding-right: 30px;
}
nav#main ul li a {
  color: #FFF;
}
nav#main .selection {
  height: 6px;
  position: absolute;
  bottom: 0;
  left: 310px;
  background-color: #309cd6;
  width: 100px;
}
nav#sub, nav#tertiary {
  border-bottom: 1px solid #999;
  padding-bottom: 4px;
}
nav#sub li, nav#tertiary li {
  margin-left: 30px;
}
nav#sub li a, nav#tertiary li a {
  color: #000;
}
nav#sub li a:hover, nav#tertiary li a:hover {
  color: #666;
}
nav#sub {
  margin-top: 16px;
  font-size: 14px;
}
nav#tertiary {
  font-size: 12px;
  margin-top: 10px;
}
#footer_push {
  height: 120px;
}
footer {
  padding: 10px 0;
  color: #FFF;
  background: #444;
  width: 100%;
  margin-top: 30px;
}
footer a {
  color: #CCC;
}
#page_title, #breadcrumbs {
  margin-left: 50px;
}
.project_public_nav {
  text-align: center;
  float: left;
}
.project_public_nav div {
  font-weight: bold;
}
#header-col1 {
  padding: 0;
}
#header-col1 h1 {
  padding: 0;
  margin: 0;
}
#header-col2 {
  padding: 0;
  text-align: center;
}
#header-col3 {
  padding: 0 1em 0 0;
  text-align: right;
}
/* =searchBox */
#searchBox div {
  text-align: center;
}
/*//.tabGenerator*/
/*.tabGenerator {font-weight:bold; margin:0; }*/
/*.tabGenerator td {padding:0; }*/
/*.tabGenerator .tg-middle {*/
/*vertical-align: middle;*/
/*}*/
/*.tabGenerator .tg-middle div div {*/
/*background: url(/www/themes/gforge/images/toptab-new/middle.gif);*/
/*text-align:center;*/
/*vertical-align: middle;*/
/*height: 30px;*/
/*}*/
/*.tabGenerator .tg-right div div {*/
/*background: 0 0 url(/www/themes/gforge/images/toptab-new/right.gif) no-repeat;*/
/*display: block;*/
/*width: 9px;*/
/*height: 30px;*/
/*}*/
/*.tabGenerator .tg-left div div.nested {width:5px; }*/
/*.tabGenerator .tg-right div div.nested {width:2px; }*/
/*.tabGenerator .tg-left div div.nested,*/
/*.tabGenerator .tg-middle div div.nested,*/
/*.tabGenerator .tg-right div div.nested {height: 22px; padding-top:0.5em; }*/
/*.tabGenerator .tg-left div.selected div {background-image:url(/www/themes/gforge/images/toptab-new/selected-left.gif); }*/
/*.tabGenerator .tg-middle div.selected div {background-image: url(/www/themes/gforge/images/toptab-new/selected-middle.gif); }*/
/*.tabGenerator .tg-right div.selected div {background-image: url(/www/themes/gforge/images/toptab-new/selected-right.gif)}*/
/*.tabGenerator .tg-left div div.nested {background:0 0 url(/www/themes/gforge/images/bottomtab-new/middle.gif); }*/
/*.tabGenerator .tg-middle div div.nested {background:url(/www/themes/gforge/images/bottomtab-new/middle.gif); }*/
/*.tabGenerator .tg-right div div.nested {background: 0 0 url(/www/themes/gforge/images/bottomtab-new/separator.gif); }*/
/*.tabGenerator .tg-left div.selected div.nested {background:0 0 url(/www/themes/gforge/images/bottomtab-new/selected-middle.gif); }*/
/*.tabGenerator .tg-middle div.selected div.nested{background:url(/www/themes/gforge/images/bottomtab-new/selected-middle.gif);  }*/
/*.tabGenerator .tg-right div.selected div.nested {background: 0 0 url(/www/themes/gforge/images/bottomtab-new/selected-separator.gif); }*/
/*set padding only for non nested tabs*/
/*.tabGenerator .tg-middle div div a {display:block; padding-top: 0.5em;}*/
/*.tabGenerator .tg-middle div div.nested a {display:inline;}*/
/*set white color only for nested + selected tab*/
/*.tabGenerator .tg-middle div div.nested a {color: white;}*/
/*.tabGenerator .tg-middle div.selected div.nested a {color: rgb(1,73,144);}*/
/*//tabber*/
/*.topTab, a.topTab, a.topTab:visited, a.topTab:hover,*/
/*.topTabSelected, a.topTabSelected, a.topTabSelected:visited,*/
/*a.topTabSelected:hover {*/
/*text-decoration: none;*/
/*font-weight: bold;*/
/*color: rgb(68, 68, 68);*/
/*font-family: arial, helvetica, sans-serif;*/
/*font-size: 0.9em;*/
/*}*/
/*.bottomTab, a.bottomTab, a.bottomTab:visited, a.bottomTab:hover {*/
/*text-decoration: none;*/
/*font-weight: bold;*/
/*color: white;*/
/*font-family: arial, helvetica, sans-serif;*/
/*font-size: 0.9em;*/
/*}*/
/*.bottomTabSelected, a.bottomTabSelected, a.bottomTabSelected:visited,*/
/*a.bottomTabSelected:hover {*/
/*text-decoration: none;*/
/*font-weight: bold;*/
/*color: rgb(68, 68, 68);*/
/*font-family: arial, helvetica, sans-serif;*/
/*font-size: 0.9em;*/
/*}*/
/*.topLeft {*/
/*vertical-align: top;*/
/*text-align: left;*/
/*}*/
/*.middleRight {*/
/*vertical-align: middle;*/
/*text-align: right;*/
/*}*/
/*.pane {*/
/*color: rgb(112, 112, 112);*/
/*background-color: white;*/
/*}*/
/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
  display: none;
}
/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabberlive {
  margin-top: 1em;
}
/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav {
  margin: 0;
  padding: 3px 0;
  border-bottom: 1px solid #778;
}
ul.tabbernav li {
  list-style: none;
  margin: 0;
  display: inline;
}
ul.tabbernav li a {
  padding: 3px 0.5em;
  margin-left: 3px;
  border: 1px solid #778;
  border-bottom: none;
  background: #D0D0D0;
  text-decoration: none;
}
ul.tabbernav li a:link {
  color: #333333;
}
ul.tabbernav li a:visited {
  color: #667;
}
ul.tabbernav li a:hover {
  color: #000;
  background: #FED620;
  border-color: #227;
}
ul.tabbernav li.tabberactive a {
  background-color: #FFF;
  border-bottom: 1px solid #fff;
}
ul.tabbernav li.tabberactive a:hover {
  color: #000;
  background: white;
  border-bottom: 1px solid white;
}
/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
  padding: 5px;
  border: 1px solid #aaa;
  border-top: 0;
}
/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
  display: none;
}
.tabberlive .tabbertab h3 {
  display: none;
}
/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab2 .tabbertab {
  height: 200px;
  overflow: auto;
}
.field-holder {
  clear: both;
}
/* Boxes (top / middle / bottom)
----------------------------------------------- */
.box-surround {
  margin-bottom: 1em;
}
.box-title-left {
  background-image: url(../images/box-topleft.png);
  background-repeat: no-repeat;
  background-position: top left;
}
.box-title-right {
  background-image: url(../images/box-topright.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.box-title-content {
  background-image: url(../images/box-grad.png);
  margin: 0 0.5em;
  padding: 0.2em 0.1em 0.1em;
}
.box-content {
  background-image: url(../images/vert-grad.png);
  padding: 0.5em;
}
.box-middle {
  background-image: url(../images/box-grad.png);
  margin: 0;
  padding: 0.2em 0.5em 0.1em;
}
/* =ft (footer)
----------------------------------------------- */
#ft {
  text-align: center;
}
/* error_msg, warning_msg or feedback function
----------------------------------------------- */
.error {
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  background-color: #ff4940;
  /* red */

  border-color: red;
  /* red */

  padding: 0.5em;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.warning {
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  background-color: #ffd297;
  /* orange */

  border-color: #ffa500;
  /* orange */

  padding: 0.5em;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.feedback {
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  background-color: #aef26d;
  /* green */

  border-color: green;
  /* green */

  padding: 0.5em;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
/* scm
----------------------------------------------- */
.scm {
  width: 99%;
}
