.linear-gradient(@pos1, @col1, @pos2, @col2){
	background: -moz-linear-gradient(top,@col1 @pos1, @col2 @pos2);/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(@pos1,@col1), color-stop(@pos2,@col2));	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, @col1 @pos1,@col2 @pos2);	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, @col1 @pos1,@col2 @pos2); /* Opera11.10+ */
	background: -ms-linear-gradient(top, @col1 @pos1,@col2 @pos2); /* IE10+ */
}