<div class="product-card">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button href="" aria-label="Favorite" class="md-icon-button" flex><ng-md-icon icon="favorite_outline" style="fill: grey;" size="18"></ng-md-icon></md-button>
      <md-button href="" aria-label="Reply" class="md-icon-button reply" flex><ng-md-icon icon="reply" style="fill: grey;" size="18"></ng-md-icon></md-button>
      <md-button href="" aria-label="Open" class="md-icon-button" flex><ng-md-icon icon="arrow_forward" style="fill: grey;" size="18"></ng-md-icon></md-button>
    </div>
  </md-toolbar>
    <div class="product-card__image" ng-show="cardStyle == 'small'">
        <img src="{{cardSource.featureImage.thumbnail}}" alt="{{cardSource.title}}">
    </div>
  <div class="product-card__header" layout="column" layout-padding layout-margin ng-class="cardStyle == 'small' ? 'title-without-spaces' : ''">
    <h3>{{cardSource.title}}</h3>
    <span class="user-name">{{cardSource.owner}}</span>
  </div>
  <div class="product-card__content" layout="row" layout-padding flex>
    <div class="product-card__content__column" flex="28" layout="column">
      <div class="star-rating">
        <div class="star-rating__buttons">
            <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon aria-label="" icon="star" style="fill: #f28e1e;" size="14" ></ng-md-icon></md-button>
            <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon aria-label="" icon="star" style="fill: #f28e1e;" size="14"></ng-md-icon></md-button>
            <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon aria-label="" icon="star" style="fill: #c7c7c7;" size="14"></ng-md-icon></md-button>
            <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon aria-label="" icon="star" style="fill: #c7c7c7;" size="14"></ng-md-icon></md-button>
            <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon aria-label="" icon="star" style="fill: #c7c7c7;" size="14"></ng-md-icon></md-button>
        </div>
        <div class="star-rating__value">
          <span class="small-text">(3.4)</span>
        </div>
      </div>
      <div class="product-card__details">
        <p class="description">{{cardSource.description}}</p>
        <p>Added <strong>{{cardSource.specificationsData.usageStats.added}} times</strong> by <strong>{{cardSource.specificationsData.usageStats.members}} members</strong></p>
        <p><strong>{{cardSource.specificationsData.runStats.success}}/{{cardSource.specificationsData.runStats.success+cardSource.specificationsData.runStats.fail}}</strong> successful runs</p>
        <p>Release <strong>{{cardSource.releaseDate|timeago}}</strong> ({{cardSource.releaseDate}})</p>
      </div>
    </div>
    <div class="product-card__content__column" flex ng-hide="cardStyle == 'small'">
      <div class="product-card__image">
        <img src="{{cardSource.featureImage.thumbnail}}" alt="{{cardSource.title}}">
      </div>
    </div>
  </div>
  <div class="product-card__footer" layout="row">
    <div layout="row" class="adding-to-project" ng-show="addingToProject">
        <md-button aria-label="Cancel" layout="column"  href="" class="close" ng-click="cancelAddToProject()"><ng-md-icon icon="close" size="21"></ng-md-icon></md-button>
        <div layout="column" class="select-block">
            <md-input-container>
                <md-select placeholder="Select Project" ng-model="projectModel" md-on-open="loadProjects()" style="width:100%">
                    <md-option ng-repeat="p in projects" ng-value="{{p.id}}">{{p.title}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <md-button aria-label="Add" layout="column" href="" ng-disabled="!projectModel" class="md-raised add" ng-click="saveToProject()">Add</md-button>
    </div>
    <md-button aria-label="Back to Add" flex="20" class="back-to-add" ng-click="backToAdd()" ng-show="addingToProject == false && cardSource.added">
        <ng-md-icon icon="close" size="17"></ng-md-icon></md-button>
    <md-button aria-label="Project Link" flex="65" class="page-href" ng-show="addingToProject == false && cardSource.added" href="{{cardSource.lastProject.href}}">{{cardSource.lastProject.title}}</md-button>
    <md-button aria-label="Add to Project" flex href="" ng-click="addToProject()" ng-hide="addingToProject || cardSource.added">Add to Project</md-button>
    <md-button aria-label="Add to Compare" flex href="" ng-click="addToCompare()"
               ng-show="!cardSource.added && addingToProject == false && (typeProduct == 'service' && compareProducts.services.indexOf(cardSource.id) == -1) || (typeProduct == 'component' && compareProducts.components.indexOf(cardSource.id) == -1)">
        Add to Compare
    </md-button>
    <md-button aria-label="Compare" flex href="" ng-click="removeFromCompare()" class="remove"
               ng-hide="cardSource.added || addingToProject == true || (typeProduct == 'service' && compareProducts.services.indexOf(cardSource.id) == -1) || (typeProduct == 'component' && compareProducts.components.indexOf(cardSource.id) == -1)">
        <ng-md-icon icon="close" size="17"></ng-md-icon>
        Compare
    </md-button>
  </div>
</div>