.ng-carousel{
  height: 0;
  .slide-buttons{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 5;
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      display: inline-block;
      width: auto;
      li{
        width: auto;
        float: left;
        button{
          width: 30px;
          ng-md-icon {
            fill: #999;
          }
        }
        button:hover{
          ng-md-icon {
            fill: #333;
          }
        }
      }
      .selected{
        button{
          ng-md-icon {
            fill: #64B045;
          }
        }
      }
    }
  }
  .carousel-arrow-left{
    width: 50px;
    top: 60px;
    bottom: 112px;
    button.demo-nav{
      left:0;
    }
  }
  .carousel-arrow-right{
    width: 50px;
    top: 60px;
    bottom: 112px;
    button.demo-nav{
      right: 0;
    }
  }
  button.demo-nav {
    font-size: 16px;
    border: none;
    background: #64B045;
    padding: 5px;
    color: #fff;
    min-width: 50px;
    width: 50px;
    top: 50%;
    position: absolute;
    margin: -50% 0 0 0;
    ng-md-icon{
      fill:#fff;
    }
  }
  slidecontainer{
    font-size: 0;
    slide{
      text-align: center;
      font-size: 12px;
      .product-card{
        margin: 0 2px;
      }
    }
  }
}