.create-discussion{
  button.md-primary span{
    color: #fff;
  }
  .md-toolbar-tools{
    h2{
      color: #fff;
    }
  }
  .btn-close{
    ng-md-icon{
      fill: #fff;
    }
  }
  md-dialog-content{
    min-width: 500px;
  }
  .message{
    &-error{
      @include borderRadius(3px);
      margin-bottom: 10px;
    }
    &-error{
      background-color: #ECCFCF;
      .md-subheader {
        background-color: #ECCFCF;
      }
    }
  }
  .md-subheader {
    .md-subheader-inner {
      padding-top: 7px;
      padding-bottom: 9px;
    }
  }
}