.home-feature {
  text-align: center;
  margin: 45px auto;
  max-width: 287px;
  img{
    margin-bottom: 45px;
    width: 167px;
  }
  h2 {
    font-size: 24px;
    font-weight: 400;
  }
  p {
    font-size: 14px;
    font-weight: 400;
  }
}