.member-card{
  display: inline-block;
  border: 1px solid #ccc;
  @include borderRadius(3px);
  max-width: 250px;
  margin: 3px;
  &__image{
    text-align: center;
    padding: 10px 0 0 0;
    img {
      width: 198px;
    }
  }
  &__header{
    padding-bottom: 0;
    margin-bottom: 0;
    .member-name{
      margin: 3px 0;
    }
  }
  &__content{
    padding-top: 0;
    margin-top: 0;
    .star-rating{
      button{
        margin: 0;
      }
    }
  }
  &__content__column{
    padding: 0 8px !important;
  }
  &__details{
    p{
      margin: 0;
      text-align: left;
    }
  }
  .md-primary{
    color: #fff !important;
  }
}