.notification-nav {
  background: url('../images/notifications-bar-bg.png') no-repeat top center;
  height: 32px;
}
#notification-help-button {
  margin-top: 8px;
}

.notification-number {
  color: #65AF3F;
  font-size: 10px;
}