.page-header {
  background-color: map-get($colors, body_color);
  padding: 24px 24px 0 24px;
  .md-toolbar-tools {
    background-color: map-get($colors, body_color);
    color: map-get($colors, primary);
    h1 {
      display: inline-block;
      font-size: 24px;
      span {
        padding-left: 10px;
        vertical-align: baseline;
      }
    }
    h2 {
      padding-top: 10px;
      font-size: 14px;
      text-transform: uppercase;
      img {
        width: 31px;
        padding-right: 5px;
      }
    }
    .md-button {
      font-size: 14px;
      color: #666 !important;
      &.white-label {
        color: #fff !important;
      }
      text-transform: initial;
      ng-md-icon[icon='reply'] {
        svg {
          -moz-transform: scale(-1, 1);
          -webkit-transform: scale(-1, 1);
          -o-transform: scale(-1, 1);
          -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
        }
      }
    }
  }
  md-input-container{
    md-select{
      min-width: 100px;
      margin-right: 13px;
    }
  }
}
header {
  position: fixed;
  z-index: 10;
  width: 100%;
}