.rp-panel {
  border-top: 2px solid $body_grey;
  &__title {
    h2 {
      font-size: 18px;
      font-weight: 300;
      a {
        text-decoration: none;
        font-weight: bold;
        color: map-get($colors, text_grey);
      }
    }
  }

  &__tab-content {}
}