.dmc-project-subnav-dialog {
  background: transparent;
  box-shadow: none;
}
.dmc-project-subnav-dialog-btn {
  width: 90%;
  height: 200px;
  margin: 5%;
  box-sizing: border-box;
  background: #424242;
  border-radius: 8px !important;
  border-bottom: 1px solid #fff6de;
  border-right: 1px solid #fff6de;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  color: #fff;
  padding-top: 7%;

  &:hover {
    background: map-get($colors, secondary) !important;
    border: 1px solid #fff6de;
  }

  &__caption {
    padding-top: 5px;
    font-size: 1.4em;
    text-transform: capitalize;
  }
}
