.tableTasks{
  .title{
    width: 100%;
  }
  .label{
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  .project{
    min-width: 100px;
    width: auto;
  }
  .dueDate{
    white-space: nowrap;
  }
  .empty{
    border-top: none;
  }
}

.create-task{
  button.md-primary span{
    color: #fff;
  }
  md-datepicker{
    padding-top: 10px;
  }
  .md-toolbar-tools{
    h2{
      color: #fff;
    }
  }
  .btn-close{
    ng-md-icon{
      fill: #fff;
    }
  }
  md-dialog-content{
    min-width: 500px;
  }
  .message{
    &-error{
      @include borderRadius(3px);
      margin-bottom: 10px;
    }
    &-error{
      background-color: #ECCFCF;
      .md-subheader {
        background-color: #ECCFCF;
      }
    }
  }
  .md-subheader {
    .md-subheader-inner {
      padding-top: 7px;
      padding-bottom: 9px;
    }
  }
}

.date-picker-date-time{
  z-index: 999999;
}